/*
Theme Name: The7 Child - AOM
Author: Nooijen Solutions
Author URI: https://www.nooijensolutions.nl
Description: The7 Child Theme, edited by Nooijen Solutions for Bennu-Design.be. This theme makes changes to the The7-theme CSS and PHP-functions, ensuring a fully working website with the desired functions.
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}

  .col-1-4 {
    float: left;
    width: 23%;
  }
  
@media all and ( max-width: 1150px ) {

  .col-1-4{
    width: 45%;
    float: left;
  }
  .col-1-4:nth-child(2n+1) {
    clear: left;
  }

}


@media all and ( max-width: 600px ) {

  .col-1-4{
    width: 100%;
	
  }
  .col-1-4:nth-child(4n+1) {
    clear: none;
  }

}

	.mediumbox {
		border-style: solid; 
		border-width: 2px; 
		border-radius: 15px; 
		border-color: #8224e3;
	}
	
	.afbeeldingmedium {
		border-top-left-radius: 13px;
		border-top-right-radius: 13px; 
		display: block;
		width: 100%;
	}
	
	.profiel {
		text-align: left;
/*	  font-size: larger;				*/
		height: 150px;
		color: #000000;
/*	margin: 0.5em 0em 0 0.5em; */
		margin-left: 5px;
		overflow: hidden;
	}
	
	.naampaars {
		text-align: center;
		font-size: 24pt;
		font-weight: 500;
		color: #8224e3;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 2px solid #8224e3;
		border-bottom: 2px solid #8224e3;
	}

	.status {
		text-align: left;
		font-size: larger;
		color: #8224e3;
		margin-left: 5px;
		margin-bottom: 5px;
		float: left;
	}
	
	.nummer {
		text-align: center;
/*	font-size: larger; */
		font-weight: 200;
		color: white;
		background-color: #8224e3;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		clear: both;
	}
	
	.leesmeer {
		text-align: right;
/*		font-size: larger;*/
		color: #8224e3;
		margin-right: 5px;
		margin-bottom: 5px;
		float: right;
	}	
	
	/* unvisited link */
	a:link {
		text-decoration: none;
		color: #8224e3;
	}			    
	/* visited link */
	a:visited {
		text-decoration: none;
		color: #8224e3;
	}	